.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-header {
  background-color: #5f85d1;
  min-height: 150px;
  
  
  
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.headerContainer {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}

.nav-links{
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: aliceblue;
}

.nav-links a:hover {
  color: blue;
}

.form {
  color: aliceblue;
  text-align: center;
  background-color: #2851a3;
  width: 70%;
  margin-top: 30px;
}
.form input,
.form select,
.form button {
  display: flex;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  width: 70%;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  color: rgb(42, 131, 209);
}

.form button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  text-align: center;
  display: block;
}

.form button:hover {
  background-color: #45a049;
}

.disabled {
  background-color: gray !important;
}